    <div class="container">
          <h1 class="">Find and Discover Local Businesses</h1>
          <div class="hero-nav-tab">
            <ul class="nav nav-underline" role="tablist">
                <li class="nav-item ">
                <a class="nav-link all-class active" data-toggle="tab" href="#home-tab" data-log="0" data-permalink="" data-module="global" data-section="search tab" role="tab" data-type="All" aria-selected="true">
                <i class="fas fa-align-left fa-lg"></i> All
                </a>
                </li>
                <li class="nav-item">
                <a data-toggle="tab" class="nav-link  business-class" href="#home-tab" data-log="0" data-permalink="" data-module="global" data-section="search tab" role="tab" data-type="Business" aria-selected="false"> 
                    <i class="fas fa-briefcase fa-lg"></i> Business
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link products-class" data-toggle="tab" href="#home-tab" data-log="0" data-permalink="" data-module="global" data-section="search tab" role="tab" data-type="Products" aria-selected="false">
                <i class="fas fa-shopping-bag fa-lg"></i> Products
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link services-class" data-toggle="tab" href="#home-tab" data-log="0" data-permalink="" data-module="global" data-section="search tab" role="tab" data-type="Services" aria-selected="false">
                <i class="fas fa-tools fa-lg"></i> Services
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link phone-class" data-toggle="tab" href="#home-tab" data-log="0" data-permalink="" data-module="global" data-section="search tab" role="tab" data-type="Phone" aria-selected="false">
                <i class="fas fa-phone fa-flip-horizontal fa-lg"></i> Phone
                </a>
                </li>
            </ul>
          </div>
</div>